In [5]:
number = 10
xyxyxyxy =25.36
num_two =48

In [7]:
num1 =15 #integer
num2 =25.0 #float
word = 'python'#string
x = True #booleans

In [8]:
print(num1)

15

In [9]:
#escape character \
word2 = 'we\'re brothers from the other town'
print (word2)

we're brothers from the other town

In [11]:
# new Line \n
word3 = 'python is fun\nPython is easy\nPython is great'
print(word3)

python is fun
Python is easy
Python is great

In [5]:
# multiline string ''' ''' or """ """
word4 ='''python is fun
python is great
python is easy
python is fun
'''
print (word4)

python is fun
python is great
python is easy
python is fun

In [6]:
# string formatting
price1 = 8000
price2 = 15000
price3 = 6000
report = 'i sold 5 shirts for {}, 2 jacket for {} and a shoe for {}'
print(report.format(price2,price3,price1))

i sold 5 shirts for 15000, 2 jacket for 6000 and a shoe for 8000

In [11]:
print(f'i sold 5 shirts for {15000}, 2 jacket for {6000} and a shoe for {8000}')

i sold 5 shirts for 15000, 2 jacket for 6000 and a shoe for 8000

In [12]:
# string concatenation
print ('hello' + ' world') # joining of strings and string

hello world

In [14]:
name ='Ade'
print ('welcome to python class  ' + name) #Joining of string and variable holding strings value

welcome to python class  Ade

In [15]:
# string method
print (word4.upper())

PYTHON IS FUN
PYTHON IS GREAT
PYTHON IS EASY
PYTHON IS FUN

In [16]:
print (word4.lower())

python is fun
python is great
python is easy
python is fun

In [17]:
print (word4.capitalize())

Python is fun
python is great
python is easy
python is fun

In [18]:
print(word4.title())

Python Is Fun
Python Is Great
Python Is Easy
Python Is Fun

In [19]:
print(word4.split())

['python', 'is', 'fun', 'python', 'is', 'great', 'python', 'is', 'easy', 'python', 'is', 'fun']

In [22]:
#data type conversion
number1 = int(45.58) # float can be converted to integer
print (number1)

45

In [23]:
print (float(number1)) # integer can be converted to float

45.0

In [24]:
print (str(15))
print(str(45.23)) # integer and float can be converted to string

15
45.23

In [25]:
print(float('48')) #string cannot be converted to integer or float except the value is in base 10

48.0

In [28]:
# input function 
name =input('please enter your name:')

please enter your name:siji

In [29]:
print(type(name))

<class 'str'>

In [31]:
age =int(input('please enter your age:'))

please enter your age:48

True