## iterable object
## range
## list
## dictionary
## turple

## Turple

In [2]:
## Turple unchangeable
## Turple uses the blacket () as identification
## Turple uses index location to access each element.

In [4]:
numbers=(10,24,78,100,40,60,90,89, "earlycode")
print(numbers)
print(type(numbers))
print(len(numbers))

(10, 24, 78, 100, 40, 60, 90, 89, 'earlycode')
<class 'tuple'>
9

In [7]:
## forward index
print(numbers[6])
print(numbers[4])

90
40

In [8]:
## backward index
print(numbers[-3])

90

In [10]:
## backward index
print(numbers[-3])

90

In [12]:
## range index location
print (numbers[1:9])  ## forward range
print (numbers[0:9])

(24, 78, 100, 40, 60, 90, 89, 'earlycode')
(10, 24, 78, 100, 40, 60, 90, 89, 'earlycode')

In [13]:
## forward and backward range
print(numbers[1:-4])

(24, 78, 100, 40)

In [14]:
## all range forward
print (numbers[1::])

(24, 78, 100, 40, 60, 90, 89, 'earlycode')

In [16]:
## reverse 
print(numbers[::-1])

('earlycode', 89, 90, 60, 40, 100, 78, 24, 10)

## List

In [17]:
## list unchanged 
## list uses the bracket [] as identification 
## list uses index location to access each element
## it takes multiple values

In [19]:
cars=["lamnoghini","mercedes benz","lexus","Honda"]
print(cars)
print(type(cars))
print(len(cars))

['lamnoghini', 'mercedes benz', 'lexus', 'Honda']
<class 'list'>
4

In [20]:
print(cars[2])

lexus

In [21]:
cars.append("toyota")## append is use to add valuesto the a list
print(cars)

['lamnoghini', 'mercedes benz', 'lexus', 'Honda', 'toyota']

In [22]:
cars.remove("toyota")
print(cars)

['lamnoghini', 'mercedes benz', 'lexus', 'Honda']

In [25]:
cars.extend(["toyota","maybash","honda"])
print(cars)

['lamnoghini', 'mercedes benz', 'lexus', 'Honda', 'toyota', 'maybash', 'toyota', 'maybash', 'toyota', 'maybash', 'honda']

In [27]:
cars.sort()## sort arranges the values in alphabetically order
print(cars)

['Honda', 'honda', 'lamnoghini', 'lexus', 'maybash', 'maybash', 'maybash', 'mercedes benz', 'toyota', 'toyota', 'toyota']

In [31]:
car2=cars.copy() ## this makes a duplicate in another variables.
print(car2)

['Honda', 'honda', 'lamnoghini', 'lexus', 'maybash', 'maybash', 'maybash', 'mercedes benz', 'toyota', 'toyota', 'toyota']

In [32]:
print(cars)

['Honda', 'honda', 'lamnoghini', 'lexus', 'maybash', 'maybash', 'maybash', 'mercedes benz', 'toyota', 'toyota', 'toyota']

In [35]:
## exercise
## make a list of five states in nigeria using list.
states=["ekiti","fct","lagos","osun","oyo"]
print(states)

['ekiti', 'fct', 'lagos', 'osun', 'oyo']

## Dictionary

In [36]:
## dictionary is changeable
## Dictionary uses the bracket {} as identification 
## Dictionary  uses index location to access each element

In [4]:
personality={
    "Name": "Anita",
    "Age": 25,
    "Date":"09-05-2024",
    "Gender":"Female"}
print(personality)
print(type(personality))

{'Name': 'Anita', 'Age': 25, 'Date': '09-05-2024', 'Gender': 'Female'}
<class 'dict'>

In [40]:
print(personality.keys())
print(personality.values())

dict_keys(['Name', 'Age', 'Date', 'Gender'])
dict_values(['Anita', 25, '09-05-2024', 'Female'])

In [41]:
print(personality["Name"])

Anita

In [43]:
print(personality["Age"])

25

In [44]:
print(personality["Date"])

09-05-2024

In [45]:
print(personality['Gender'])

Female

In [59]:
## Exercise
## create a dictionary of student name and subjects in which they offered with each score awarded to them

students={
    "name":{"name1":"david","name2":"joy","name3":"musa","name4":"femi"},
    "subjects":{"subject1":"Futhermath","subject2":"History","subject3":"English","subject4":"Animal Husbandary"},     
    "score":{"score1":45,"score2":67,"score3":89,"score4":90}}

In [60]:
print(students["name"]["name3"])
print(students["subjects"]["subject4"])
print(students["score"]["score4"])

musa
Animal Husbandary
90

In [5]:
## method1  creating a variable and highing a value inside of it
r=({"height":1.97})
personality.update(r)
print(personality)

{'Name': 'Anita', 'Age': 25, 'Date': '09-05-2024', 'Gender': 'Female', 'height': 1.97}

In [7]:
## method2
personality["height2"]=[1.92]
print(personality)

{'Name': 'Anita', 'Age': 25, 'Date': '09-05-2024', 'Gender': 'Female', 'height': 1.97, 'height2': [1.92]}

In [11]:
## modifying a particular value.
personality["marital_status"]="single"
print(personality)

{'Name': 'Anita', 'Age': 25, 'Date': '09-05-2024', 'Gender': 'Female', 'height': 1.97, 'height2': [1.92], 'marital_status': 'single'}

In [14]:
personality["Age"]="30"
personality["Date"]="09-05-2024"
print(personality)

{'Name': 'Anita', 'Age': '30', 'Date': '09-05-2024', 'Gender': 'Female', 'height': 1.97, 'height2': [1.92], 'marital_status': 'single'}

In [15]:
print(personality)

{'Name': 'Anita', 'Age': '30', 'Date': '09-05-2024', 'Gender': 'Female', 'height': 1.97, 'height2': [1.92], 'marital_status': 'single'}